@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "NaughtyMonster";
    src: local("NaughtyMonster"),
     url("./assets/fonts/naughty-monster/NaughtyMonster.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Fredoka";
    src: local("Fredoka"),
     url("./assets/fonts/fredoka/Fredoka.ttf") format("truetype");
    font-weight: normal;
}